<div class ="signupForm">
  <div class="panel panel-info">
    <div class="panel panel-heading">
      <h2>Forgot your password?</h2>
    </div>

    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
      <%= devise_error_messages! %>

      <div><%= f.label :email %><br />
        <%= f.email_field :email, :autofocus => true %></div>
      <br>
      <div><%= f.submit "リセットする",:class=>'btn btn-info' %></div>
      <br>
    <% end %>
  </div>
  <%= render "devise/shared/links" %>
</div>

