<%= javascript_include_tag 'classie' %>
<%= stylesheet_link_tag 'component' %>


<nav class="navbar navbar-inverse" role="navigation">

    <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" href="/"><%= image_tag("all/navigation_bar_logo.png")%></a>
      </div>
    <%= javascript_include_tag 'application' %>
<!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% if !current_user.nil? %>
          <li><a href="#" style="font-size:25px"><%= current_user.name %></a></li>
          <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
</nav>

